<DOCTYPE html>
<html>
	<body>
		<div class="login-form">
			<h1>Login Form</h1>
			<form action="auth" method="POST">
				<input type="text" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
		<div class="login-form">
			<form action="/register">				
				<input type="submit" name="register" value="Register">
			</form>
<<<<<<< HEAD
			<form action="/home">				
					<input type="submit" name="home" value="Home">
			</form>
=======
>>>>>>> d0f869593d6b81dae79240ca678c45d1d41894a7
		</div>
	</body>
</html>

