<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = "customization.css">
        <title>RateMyStudents: SomePage</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1>SomePage</h1>
                <div id="menuBar">
                    <table>
                        <tr><td><a href="/home">Home</a></td></tr>
                        <tr><td><a href="/Classes">Classes</a></td></tr>
                        <tr><td><a href="/ratings">Ratings</a></td></tr>
                        <tr><td><a href="/Terms">Terms</a></td></tr>
                    </table>
                </div>
            </div>
            <div id="mainContent">
                <p1>Stuff</p1>
            </div>
            <div id="footer">
                <p3>Created by the GOAT Development team in 2019</p3>
            </div>
        </div>
    </body>
</html>
